<!DOCTYPE html>
<html>
<head>
  <title>Admin Layout</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "admin" %>
  <%= stylesheet_link_tag "posts" %>
  <%= stylesheet_link_tag "bootstrap_addon" %>
</head>
<body>

<%= yield %>

</body>
</html>
