<!DOCTYPE html>
<html>
<head>
  <title>Admin Layout</title>
  <%= csrf_meta_tags %>
</head>
<body>
<link rel="stylesheet" href="/assets/blogs.css" /> 
<link rel="stylesheet" href="/assets/jquery-addon.css" /> 
<link rel="stylesheet" href="/assets/bootstrap-addon.css" /> 
<%= stylesheet_link_tag'application' %>
<%= stylesheet_link_tag 'posts' %>
<%= stylesheet_link_tag 'admin' %>
<%= yield %>

</body>
</html>
