<!DOCTYPE html>
<html>
<head>
  <title>Application Layout</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application" %>
  <%= stylesheet_link_tag "blogs"%>
  <%= stylesheet_link_tag "jquery-addon" %>
</head>
<body>

<%= yield %>

</body>
</html>
